.file-uploader{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 15rem;
    height: 84vh;
    background-color: var(--black);
    padding: 1.5rem;
}

.input {
  color: #8707ff;
  border: 2px solid #8707ff;
  border-radius: 10px;
  padding: 10px 25px;
  background: transparent;
  max-width: 190px;
 }
 
 .input:active {
  box-shadow: 2px 2px 15px #8707ff inset;
 }
  .custum-file-upload {
    height: 3rem;
    width: 12rem;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    gap: 20px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border: 2px dashed gray;
    background-color: var(--black);
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0px 48px 35px -48px rgba(0,0,0,0.1);
  }
  
  .custum-file-upload .icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .custum-file-upload .icon svg {
    height: 3rem;
    fill: gray;
  }
  
  .custum-file-upload .text {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .custum-file-upload .text span {
    font-weight: 1rem;
    color: gray;
  }
  
  .custum-file-upload input {
    display: none;
  }

  .uploaded-images{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .add-btn{
    padding: 0.5rem 1rem;
    background-color:#8707ff;
    color: white;
    font-size: medium;
    border-radius: 10px;
  }