.sidebar{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 5rem;
    font-size: 0.8rem;
    color: grey;
    gap: 0.2rem;
    height: 91vh;
    background-color: var(--black);
}

.sidebar-menu{
    background-color: var(--black);
    padding: 1rem;
}